html {
    overflow-x:hidden; 
}

body {
   background-image:url(imgs/cloverbackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.51);
    border: 2px solid white;
    padding:40px;
    margin:30px auto;
}

.easy, .medium, .hard {
    font-size:35px;
    color:white;
    font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
}

#easy, #medium, #hard {
    font-size:20px;
    color:black;
    font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
}

#medium {
     margin-inline: 15px;
}

#easy:hover {
    transform:scale3d(1.1, 1.1, 1.1);
    transition-duration: 0.1s;
    box-shadow:0px 0px 3px 1px black;
    background-color: green;
}
#medium:hover {
    transform:scale3d(1.1, 1.1, 1.1);
    transition-duration: 0.1s;
    box-shadow:0px 0px 3px 1px black;
    background-color: yellow;
}
#hard:hover {
    transform:scale3d(1.1, 1.1, 1.1);
    transition-duration: 0.1s;
    box-shadow:0px 0px 3px 1px black;
    background-color: red;
}


.mainHeading {
    color:green;
    font-size:80px;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
    color:green;
    font-size:35px;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wordGraveyardHeading {
    color:white;
    font-size:35px;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#wordDisplay {
    color:green;
    font-size:30px;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#wrongLetters {
    font-size:20px;
    font-family: "Madimi One", sans-serif;
  font-weight: lighter;
  font-style: normal;
}

#shamrock {
    border: 2px solid white;
    box-shadow:0px 0px 8px 2px;
}

#confetti {
    animation-timing-function: linear;
    animation-duration: 5s;
    position: absolute;
    animation-name: fallingConfetti;
    left:0;
    height:200%;
    width:500%;
    z-index: 30;
    top:1500px;
}

@keyframes fallingConfetti {
    from {
        transform: translateY(-200%); /* Start at the top */
        opacity:1;
      }
      to {
        transform: translateY(100%); /* Fall to the bottom */
        display:none;
        opacity:0;
      }
}

#lostWords {
    color:red;
    font-size:30px;
    text-shadow:0px 0px 10px white;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;

}
#wonWords {
    color:green;
    font-size:30px;
    text-shadow:0px 0px 10px white;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#wordsCompleted {
    background-color: rgba(53, 53, 53, 0.51);
    border: 2px solid rgb(30, 30, 30);
    padding:10px;
    margin:10px auto;
    width:70%;
}

#difficultyBox {
    background-color: rgba(10, 188, 39, 0.51);
    border: 2px solid rgb(5, 183, 2);
    padding:10px;
    margin:10px auto;
    width:50%;
}

#losingStatement, #winningStatement {
    color:green;
    font-size:40px;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#restartBtn {
    font-size:20px;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#restartBtn:hover {
    transform:scale3d(1.1, 1.1, 1.1);
    transition-duration: 0.1s;
    box-shadow:0px 0px 2px 1px black;
    background-color: red;
}